@charset "utf-8";


:root{
 --color-main: rgb(255, 200, 20);
 --color-main-a20: rgba(255, 200, 20, .2);
 --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8)
}

*::selection{
 background-color: var(--color-main-a20)
}

html{
 font-size: 10px;
 /*hyphens: auto*/
}

body{
 font-family: monospace;
 font-size: 1.4em
}


body > main{
 display: flex; justify-content: center; align-items: center
}



@media all and (max-width: 320px){

}