@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root{
 --color-main: rgb(233, 222, 212);
 --color-main-a20: rgba(233, 222, 212, .2);
 --color-red: rgb(245, 73, 50);
 --color-black: rgb(31, 31, 31);
 --color-yellow: rgb(251, 206, 81);
 --color-blue: rgb(48, 87, 162);

 --text-shadow: 0 0 .6rem rgba(0, 0, 0, .8);

 --width-max: 1366px;
 --width-min: 375px;
}

*::selection{
 background-color: var(--color-main-a20)
}

body{
 color: var(--color-black);
 font-family: 'Golos Text', sans-serif;
 font-size: 20px;
 font-weight: normal;
 letter-spacing: 0;
 line-height: 1.2;
}


body > main{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 min-height: 100vh;
}

body > main > *{
 display: flex;
 justify-content: center;
 width: 100%;
}

h2{
 font-family: 'Merriweather', serif;
 font-size: 36px;
 font-weight: normal;
 line-height: 1.35;
 text-transform: uppercase;
}
h2 .text-color-red{
 font-weight: bold;
}


.wrappers{
 padding: 0 72px;
 width: var(--width-max);
 max-width: calc(100% - 20px * 2);
}

.text-color-red{
 color: var(--color-red);
}

.strikeout{
 position: relative;
}
.strikeout::after{
 content: '';

 border-bottom: 2px solid var(--color-red);
 width: 100%;

 position: absolute;
 top: 50%;
 left: 0;
}

.buttons{
 font-size: 16px;
 font-weight: 600;
 line-height: 1.3;
 text-align: center;
 text-decoration: none;

 display: flex;
 justify-content: center;
 align-items: center;

 border: 2px solid var(--color-black);
 border-radius: 66px;
 padding: 20px 40px;
 transition: var(--transition);
}
.buttons:hover{
 cursor: pointer;
}

.notice{
 color: var(--color-blue);
}

@media all and (max-width: 1090px){
 .wrappers{
  padding: 0;
 }
}


/* < marquee */
@keyframes marquee {
 0% {
  transform: translateX(0%);
 }
 100% {
  transform: translateX(-100%);
 }
}

.marquee{
 background-color: var(--color-red);
 color: white;
 display: flex;
 justify-content: center;
 gap: 12px;
 overflow: hidden;
 text-transform: uppercase;
 white-space: nowrap;
 width: 100%;
}

.marquee__list{
 animation: marquee 30s linear infinite;
 display: flex;
 justify-content: center;
 gap: calc(12px * 2 + (2px / 2));
 list-style-type: disc;
 list-style-position: outside;
 width: 100%;
}

.marquee__item{
 padding: 18px 0;
}
/* > marquee */


/* < accessory */
.visible-border{
 border: 1px dotted var(--color-red);
}
/* > accessory */


/* < header */
@keyframes rotate {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(359deg);
 }
}
@keyframes rrotate {
 0% {
  transform: rotate(359deg);
 }
 100% {
  transform: rotate(0deg);
 }
}

.header{
 background: var(--color-main) url(/assets/images/sections/bg.webp) center center no-repeat;
 background-size: cover;
 height: 700px;
 overflow: hidden;
 padding-top: 26px;
 position: relative;

 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}
.header::after{
 content: '';

 background: transparent url(/assets/images/sections/header/city.webp) center bottom no-repeat;
 background-size: cover;
 display: block;
 width: 1627px;
 height: 535px;

 position: absolute;
 bottom: 0;
}

.header__wrapper{
 height: 100%;
}
.header__wrapper::before{
 content: '';

 animation: rrotate 360s linear infinite;
 background: transparent url(/assets/images/sections/header/sun.webp) center bottom no-repeat;
 background-size: cover;
 display: block;
 width: 655px;
 height: 655px;

 position: absolute;
 margin-left: 48%;
 top: -20px;
 left: 0;
}
.header__wrapper::after{
 content: '';

 animation: rotate 180s linear infinite;
 background: transparent url(/assets/images/sections/header/text.webp) center bottom no-repeat;
 background-size: cover;
 display: block;
 opacity: .4;
 width: 635px;
 height: 635px;

 position: absolute;
 margin-left: 48%;
 top: -10px;
 left: 10px;
}

.header__content{
 position: absolute;
 z-index: 2;

 max-width: 542px;
}

.header__marquee{
 position: relative;
 z-index: 2;
}


.logotype{
 display: flex;
 margin-bottom: 62px;
 max-width: 250px;
}

.logotype svg{
 height: 36px;
 width: 28px;
}

h1{
 color: rgb(89, 86, 83);
 font-weight: bold;
 font-size: 16.65px;
 line-height: 1.08;
 text-transform: uppercase;
 margin-left: 4px;
}

.header__header{
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 60px;
 line-height: 1.1;
 margin-bottom: 24px;
}
.header__header span:first-of-type{
 align-self: flex-end;
}

.header__payment{
 font-size: 18px;
 line-height: 1.3;
 text-align: center;
 margin-bottom: 40px;
}

.buttons-block{
 display: flex;
 gap: 16px;
}
.header__buttons{
 width: calc(100% - 16px / 2);
}
.button_support{
 background-color: var(--color-black);
 color: white;
}
.button_support:hover{
 background-color: rgb(251, 206, 81);
 border-color: var(--color-yellow);
 color: var(--color-black);
}
.button_more{
 padding-right: 50px;
 padding-left: 50px;
}
.button_more:hover{
 background-color: var(--color-black);
 color: white;
}


@media all and (max-width: 610px){
 .header{
  height: 812px;
 }
 .header::after{
  background-position: left bottom;
  background-size: contain;
  right: -20%;
  width: 220%
 }
 .header__wrapper::after{
  animation: unset;
  top: unset;
  bottom: 6.8%;
  left: -44%;
  background-size: contain;
  width: 76%
 }
 .header__wrapper::before{
  animation: unset;
  top: unset;
  bottom: 6%;
  left: -46%;
  background-size: contain;
  width: 80%
 }
 .header__header{
  font-size: 36px;
 }
}
@media all and (max-width: 520px){
 .header__buttons{
  padding: 18px 20px;
 }
 .buttons-block{
  font-size: 16px;
  flex-direction: column;
 }
 .button_more{
  white-space: break-spaces;
 }
}
/* > header */

/* < lecture */
.lecture__wrapper{
 padding-top: 80px;
 padding-bottom: 64px;
 position: relative;
}

.lecture__text{
 max-width: calc(100% / 3 * 2);
}

.lecture__h2{
 display: inline;
}

.lecture__picture{
 display: flex;
 flex-direction: column;
 justify-content: center;

 position: absolute;
 top: 0;
 right: 72px;
 height: 100%;
}


@media all and (max-width: 1330px){
 .lecture__text{
  max-width: calc(100% / 2);
 }
}
@media all and (max-width: 1280px){
 .button_more{
  background-color: rgba(255, 255, 255, .6);
 }
}
@media all and (max-width: 980px){
 .lecture__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .lecture__text{
  max-width: unset;
 }
 .lecture__picture{
  margin: 24px 0;

  position: static;
  top: unset;
  right: unset;
  height: auto;
 }
}
@media all and (max-width: 420px){
 .lecture__h2{
  font-size: 28px;
 }
}
/* > lecture */

/* < session */
.session__wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 16.5px;
 margin-bottom: 200px;
}

.session__picture{
 margin-left: -40px;
}
.session__picture img{
 object-fit: cover;
 object-position: center center;
 width: 100%;
}

.session__text{
 width: calc(100% / 3 * 2)
}

.session__h2{
 margin-bottom: 60px;
}

.session__table{
 margin-bottom: 48px;
 width: 100%;
}
.session__table td{
 border-bottom: 2px solid rgb(208, 208, 208);
 padding: 16px;
}
.session__table tr:first-of-type > td{
 padding-top: 0;
}
.session__table tr:last-of-type > td{
 border-bottom: 0;
 padding-bottom: 0;
}
.session__table tr > td:first-of-type{
 border-right: 2px solid rgb(208, 208, 208);
 opacity: .7;
 padding-left: 0;
 white-space: nowrap;
}
.session__table tr > td:last-of-type{
 font-weight: bold;
 padding-right: 0;
 width: 100%;
}

@media all and (max-width: 1090px){
 .session__wrapper{
  flex-direction: column;
 }
 .session__picture{
  margin-left: unset;
  width: 100%;
 }
 .session__text{
  width: 100%;
 }
}
@media all and (max-width: 640px){
 .session__table tr{
  display: flex;
  flex-wrap: wrap;
 }
 .session__table tr > td:first-of-type {
  border: none;
  padding-bottom: 0;
  width: 100%;
 }
 .session__table tr > td:last-of-type{
  padding-top: 12px;
  padding-left: 0;
 }

 .game-payment{
  flex-wrap: nowrap !important;
 }
 .game-payment > td:first-of-type{
  border-bottom: 2px solid rgb(208, 208, 208) !important;
  width: unset !important;
 }
 .game-payment > td:last-of-type{
  padding-top: 16px !important;
  width: 100% !important;
 }
}
@media all and (max-width: 420px){
 .session__h2{
  font-size: 28px;
 }
}
/* > session */

/* < stages */
.stages{
 display: flex;
 align-items: center;
 margin-bottom: 200px;
 overflow-x: hidden;
}

.stages__header{
 font-size: 54px;
 line-height: 1.2;
 margin-bottom: 54px;
 max-width: 806px;
}
.stages__header .notice{
 display: inline-block;
 font-family: 'Golos Text', sans-serif;
 font-size: 20px;
 line-height: 1.2;
 text-transform: none;
 width: 280px;
}

.stages__list{
 counter-reset: stages;
 list-style-type: none;
}
.stage{
 background: var(--color-main) url(/assets/images/sections/bg.webp) center center no-repeat;
 font-weight: 600;
 padding: 20px;
 padding-left: 72px;
 position: relative;
}
.stage::before{
 counter-increment: stages;
 content: counter(stages);

 display: flex;
 justify-content: center;
 align-items: center;

 position: absolute;
 top: 20px;
 left: 20px;

 background-color: white;
 border-radius: 50%;
 height: 36px;
 width: 36px;
}


@media all and (max-width: 1080px){
 .stage-1,
 .stage-3{
  flex-direction: column;
 }
 .stage-1 > *,
 .stage-3 > *{
  height: 100%;
  width: 100% !important;
 }
}
@media all and (min-width: 841px){
 .stages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
 }

 .stage-1 {
  grid-area: 1 / 1 / 2 / 3;
 }

 .stage-2 {
  grid-area: 1 / 3 / 3 / 4;
 }

 .stage-3 {
  grid-area: 2 / 1 / 3 / 3;
 }

 .stage-4 {
  grid-area: 3 / 1 / 4 / 2;
 }

 .stage-5 {
  grid-area: 3 / 2 / 4 / 4;
  position: relative;
 }

 .stage-1,
 .stage-3 {
  display: flex;
  gap: 20px;
 }

 .stage-1 > *,
 .stage-3 > * {
  width: 50%;
 }

 .stage-5__text {
  max-width: calc(100% + 72px - 450px * .78 - 10px);
 }

 .stage-5::after {
  content: '';

  position: absolute;
  top: -84px;
  right: -30px;

  background: transparent url(/assets/images/sections/stage.webp) center center no-repeat;
  background-size: cover;
  height: calc(235px * .78);
  width: calc(450px * .78);
 }

 .slider-controls{
  display: none;
 }
}
@media all and (max-width: 840px){
 .stages__wrapper{
  position: relative;
  overflow: hidden;
 }

 .stages__list{
  display: flex;
  transition: transform .4s ease;
 }

 .slide {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-main) url(/assets/images/sections/bg.webp) center center no-repeat;
  padding-bottom: 32px;
  min-height: 300px;
  min-width: 100%;
 }

 .stage{
  height: unset !important;
 }

 .slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 28px;
 }

 .slider-arrow {
  background-color: transparent;
  cursor: pointer;
 }

 .slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
 }

 .slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(217, 217, 217);
  cursor: pointer;
 }
 .slider-dot.active {
  background-color: var(--color-black);
 }
}
@media all and (max-width: 540px){
 .stages__header {
  font-size: 36px;
 }
 .stages__header .notice{
  display: block;
  width: unset;
 }
}
/* > stages */

/* < participants */
.participants{
 display: flex;
 align-items: center;
 margin-bottom: 140px;
}

.participants__wrapper{
 display: flex;
 flex-direction: column;
 overflow-x: hidden;
 position: relative;
}
.participants__wrapper::after{
 content: '';

 position: absolute;
 top: 0;
 left: 0;
 z-index: 2;

 background-image: linear-gradient(to right, white, transparent);
 display: block;
 height: 100%;
 width: 6%;
}
.participants__wrapper::before{
 content: '';

 position: absolute;
 top: 0;
 right: 0;
 z-index: 2;

 background-image: linear-gradient(to left, white, transparent);
 display: block;
 height: 100%;
 width: 6%;
}

.participants__header{
 font-size: 54px;
 line-height: 1.2;
 margin-bottom: 61px;
}

.participants__carousel{
 display: flex;
 transition: transform .4s ease;
}

.carousel__item{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.carousel__item img{
 margin-bottom: 28px;
}
.carousel__item strong{
 font-size: 24px;
 font-weight: bold;
 line-height: 1.2;
}
.carousel__item p{
 line-height: 1.2;
 margin-bottom: 20px;
 opacity: .6;
}
.carousel__item a{
 border: 2px solid var(--color-blue);
 border-radius: 62px;
 font-size: 16px;
 padding: 12px;
 text-decoration: none;
}
.carousel__item a:hover{
 background-color: var(--color-blue);
 color: white;
}

.participants__carousel-buttons{
 display: flex;
 align-items: center;
 gap: 14px;
 position: absolute;
 top: 8px;
 right: 0;
 z-index: 2;
}
.participants__carousel span{
 opacity: .6;
}

.carousel__button{
 background-color: transparent;
}
.carousel__button circle{
 transition: var(--transition);
}
.carousel__button:hover circle{
 fill: var(--color-yellow);
}


@media all and (max-width: 1080px){
 .participants__wrapper::after,
 .participants__wrapper::before{
  display: none;
 }
}
@media all and (max-width: 880px){
 .participants__carousel-buttons{
  position: static;
  top: unset;
  right: unset;
  z-index: unset;

  margin-top: 40px;
  align-self: center;
  order: 2;
 }
}
/* > participants */

/* < footer */
.footer{
 background-color: var(--color-main);
 color: rgb(49, 49, 49);
 font-size: 16px;

 display: flex;
 flex-direction: column;
 align-items: center;
}

.footer__wrapper{
 padding-top: 40px;
 padding-bottom: 72px;
}
/* > footer */